<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ tasks.name }} </h1>
            <p>Projects that have been assigned</p>>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Is Completed</th>
                  </tr>
                 </thead>
                 <tbody>
            {% for tasks in project_tasks %}
                <tr>
                    <td>{{ task.name| }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date|"M d, Y" }}</td>
                    <td>{{ task.due_date|date:"M d, Y" }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            {% endfor %}
                </tbody>
              </table>
        </div>
    </main>
</body>
</html>
